<h1><%= link_to 'HomePage', root_path %></h1>
<p>Find me in app/views/roots/index.html.erb</p>
<hr/>
<p><%= link_to 'Sign up', new_sign_up_path %></p>
<p><%= link_to 'Sign in', new_sign_in_path %></p>
<p><%= link_to 'Sign out', edit_sign_out_path %></p>
<p><%= link_to 'inactivate', new_deactivate_path %></p>