<div id="<%= dom_id person %>">
  <p>
    <strong>Title:</strong>
    <%= person.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= person.description %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <% if person.avatar.representable? %>
        <%= image_tag person.avatar.representation(resize_to_limit: [300, 300]) %>
    <% end %>
    <%= link_to person.avatar.filename, person.avatar if person.avatar.attached? %>
  </p>

</div>
