<h1>User::UserEmails#edit</h1>
<p>Find me in app/views/user/membership_emails/show.html.erb</p>
<hr>
<p>Check your email. You can close this page.</p>

<p><%= flash[:notice] %></p>

<%= form_with url: user_registration_email_path, method: :put do |form| %>
  <div>
    <%= form.label :token, style: "display: block" %>
    <%= form.text_field :token, value: params['token'] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
