<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:page_title) ? "Umaxica | #{yield(:page_title)} " : "Umaxica" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "com/favicon.ico" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "com/main" %>
    <%= stylesheet_link_tag "tailwind", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="px-4">
    <header>
      <h1 class="container mx-auto mt-28 px-5 flex"><%= link_to 'UMAXICA(Corporate Site)', com_root_path %></h1>
    </header>

    <hr>

    <nav></nav>
    <main class="container mx-auto mt-28 px-5 block">
      <%= yield %>
    </main>

    <hr>

    <footer>
      <%= link_to 'Homepage', com_root_path %>
    </footer>

    <%= javascript_include_tag "com/main" %>
  </body>
</html>
