<p style="color: green"><%= notice %></p>

<h1>Connects</h1>

<div id="connects">
  <% @connects.each do |connect| %>
    <%= render connect %>
    <p>
      <%= link_to "Show this connect", connect %>
    </p>
  <% end %>
</div>



<%= link_to "New connect", new_connect_path %>



<li><%= Time.new %></li>
<li><%= form_authenticity_token %></li>
<li><%= csrf_meta_tag %></li>
