<%= form_with model: @user_email, url: sign_up_index_path do |form| %>
  <% if @user_email.errors.any? %>
    <div>
      <h2><%= pluralize(@user_email.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% @user_email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
